<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      
      <h1><%- wiki.title %></h1>
      <h1><%- wiki.id %></h1>
      <% if(wiki.private) { %>
        <p>- This wiki is private. </p>
      <% } %>

      <% if(currentUser) { %> 
      
      <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit Wiki</a>     
      <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete Wiki</button>
      </form>
  
      <% } %>
      
      <% if(currentUser && currentUser.role === "Premium" && !wiki.private ) { %>
        <a href="/wikis/<%= wiki.id %>/convert" class="btn btn-danger">Make Private</a>
      <% } %>

      <% if(currentUser && currentUser.role === "Premium" && wiki.private ) { %>
        <a href="/wikis/<%= wiki.id %>/convert" class="btn btn-danger">Make Public</a>
      <% } %>
       
      <p><%- wiki.body %></p>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>